flask
flask-cors
flask-caching
requests
nba_api
pandas
python-dateutil
joblib
scikit-learn
pytest
flake8
basketball_reference_web_scraper
urllib3
python-dotenv
openai
shap
xgboost
numpy
boto3
PyJWT 
bcrypt